html {
    scroll-behavior: smooth;
}

body {
    position: relative;
}

.section1 {
    padding-bottom: 30px;
    padding-top: 39px;
    color: #fff;
    background-color: #1E88E5;
}

.section2 {
    padding-bottom: 30px;
    color: #fff;
    background-color: #673ab7;
}

.section3 {
    padding-bottom: 30px;
    color: #fff;
    background-color: #ff9800;
}

.section3 {
    padding-bottom: 30px;
    color: #fff;
    background-color: #00bcd4;
}

.section4 {
    padding-bottom: 30px;
    color: #fff;
    background-color: #009688;
}

#cor-img1{
    width:100%;
}